[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=meego-ux-alarms
Exec=/usr/libexec/meego-ux-alarms
X-Meego-Watchdog=Restart
X-Meego-Priority=Late
